header{
  position: relative;
  top:0px;
  

  color: #000000;


  
  height:100%;
  margin:0px;
  padding:40px;
  background-image: url("../images/Paris.jpg");
  text-shadow: 2px 2px #daae00;



  

 
  
  

 
}
.paris-img {
 
  background-image: url("../images/Paris.jpg");
  

  filter: blur(8px);
  -webkit-filter: blur(8px);
  

  height: 100%; 
  

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




header > img {
 width:100%;
 max-height: 100px;
 filter: blur(5px);
  
}



h1 {
  margin: 0;
}

#medal-table:hover{
  transform: scale(1.02);
}

#medal-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  transition: all .1s ease-in-out; 
  
}

#medal-table td, #medal-table th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #ffffff;
}


tr:hover {
  color: #a80303;
}

 
#medal-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #030cb4;
  color: white;
}



ul {

position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #783400;
  
    align-content: center;
    align-items: center;
    justify-content:space-evenly;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    transition: 0.5s;
    
   
  }
  
  li a:hover {
    background-color: #111;
  }
  
  
  #nav{
    justify-content:space-evenly;
  }
  
  h2 button{
    margin-left: 50px;
  }
  footer{
    padding:100px;
    
    color: azure;
    text-align: center;
    background-color: #333;
  }
  body{
    background-color: rgb(227, 222, 155);
  }
  ul {
    display:flex;
    justify-content:center;

   
    width:100%;
    
    
    
  }
  
  .total_schedule{
    display:none;
    animation: fadeInOut 0.6s ease-in-out;
  }
  .total_schedule.visible {
    opacity: 1;
    display: block;
}
@keyframes fadeInOut {
  0% {
      opacity: 0;
      display: none;
  }

  50% {
      opacity: 0.5;
      display: block;
  }

  100% {
      opacity: 1;
      display: block;
  }
}
  .section{
   display: flex;
    margin:100px;
    border:2px black solid;
    border-radius: 7px;
    background-color: rgb(196, 227, 230);
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(228, 133, 133), rgb(188, 188, 4));
   
    
  }

  #medal_rankings{
    
    padding:10px;
    justify-content: center;
    text-align: center;
   
    
  }
  #sports{
    display:flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    
  }
  .schedule{
    background-color: #ffffff;
    display: flex;
   
  
   
    margin-bottom: 30px;
    
    padding:20px;
    font-size: 20px;

    border: 1px black solid;
    border-radius: 23px;
  
  }
  .time-of-event{
    margin-right: 12px;
   padding-right: 30px;
 
   
    border-right: 2px black solid;
  
  }
  
  
  

  
  body,html {
    max-width: 100%;
    max-height: 100%;
   
    overflow-x: hidden;
   
    margin:0;
    padding:0;
    
   
    
  
}
.entire-section{
  display:flex;
  flex-direction: column;
}




  
